<nav id="sidebar" class="active">
    <h1>
        <a href="index.html" class="logo">M.</a>
    </h1>
    <ul class="list-unstyled components mb-5 menu">
        <li class="sidebar-item">
            <a href="#"><span class="fa fa-home"></span>j</a>
        </li>
        <li class="sidebar-item">
            <a href="#"><span class="fa fa-user"></span> jlk</a>
        </li>
        <li class="sidebar-item">
            <a href="#"><span class="fa fa-sticky-note"></span> jj</a>
        </li>
        <li class="sidebar-item">
            <a href="#"><span class="fa fa-cogs"></span> oo</a>
        </li>
        <li class="sidebar-item">
            <a href="#"><span class="fa fa-paper-plane"></span> foo</a>
        </li>
    </ul>
</nav>

<div id="server-content">
    <div id="server-header">
        vo.nootgaming.cz
    </div>
</div>
