<nav id="sidebar" class="active">
    <h1>
        <a href="index.html" class="logo">Bla..</a>
    </h1>
    <ul class="list-unstyled components mb-5 menu">
        <li class="sidebar-item">
            <a href="#"><span class="fa fa-2x fa-server"></span></a>
        </li>
        <li class="sidebar-item">
            <a href="#"><span class="fa fa-2x fa-envelope"></span></a>
        </li>
        <li class="sidebar-item">
            <a href="#"><span class="fa fa-2x fa-microphone-alt"></span></a>
        </li>
        <li class="sidebar-item">
            <a href="#"><span class="fa fa-2x fa-volume-up"></span></a>
        </li>
        <li class="sidebar-item">
            <a href="#">
                <i class="fa fa-2x fa-cog"></i>
            </a>
        </li>
    </ul>
</nav>

<div id="server-content">
    <div id="server-header">
        Nootgaming.cz
        <br>
        <span class="badge badge-dark">
            <i class="fa fa-users"></i> <span style="color: #00c58f"> 4 online</span>
        </span>
    </div>


    <div id="rooms-list">
        <div class="container">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapse-heading-1"
                         style="
                         background-image: url(/assets/img/waiting.png);
                        background-size: 100px 30px;
                        background-repeat: no-repeat;
                        background-position: right;">
                        <a role="button" class="panel-link" data-toggle="collapse" data-parent="#accordion"
                           href="#collapse-category-1" aria-expanded="false" aria-controls="collapse-category-1">
                            <i class="fa fa-sort-down"></i> Čekárna
                        </a>
                    </div>

                    <div class="panel-collapse collapse" id="collapse-category-1" role="tabpanel"
                         aria-labelledby="collapse-heading-1">
                        <div class="panel-body">
                            <p>Eflyax</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapse-heading-2"
                         style="
                         background-image: url(/assets/img/coffee.jpeg);
                        background-size: 150px 70px;
                        background-repeat: no-repeat;
                        background-position: right;">
                        <a role="button" class="panel-link" data-toggle="collapse" data-parent="#accordion"
                           href="#collapse-category-2" aria-expanded="false" aria-controls="collapse-category-2">
                            <i class="fa fa-sort-down"></i> Extatusova kavárna!
                        </a>
                    </div>
                    <div class="panel-collapse collapse" id="collapse-category-2" role="tabpanel"
                         aria-labelledby="collapse-heading-2">
                        <div class="panel-body">
                            <p>Exapos</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapse-heading-3">
                        <a role="button" class="panel-link" data-toggle="collapse" data-parent="#accordion"
                           href="#collapse-category-3" aria-expanded="false" aria-controls="collapse-category-3">
                            <i class="fa fa-sort-down"></i> Žádný olomócký toaster nekappal na rožok
                        </a>
                    </div>
                    <div class="panel-collapse collapse" id="collapse-category-3" role="tabpanel"
                         aria-labelledby="collapse-heading-3">
                        <div class="panel-body">
                            <p>Bolda</p>
                            <p>NotesCz</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
