* {
    font-family: Verdana;
    color: white;
}

body, html {
    height: 100%;
}

h2 {
    color: #444;
    font-weight: lighter;
}

body, input[text], button {
    color: #888;
}

button {
    padding: 0.2em;
    font-size: 14px
}

