<nav id="sidebar" class="active">
    <h1>
        <a href="index.html" class="logo">Bla..</a>
    </h1>
    <ul class="list-unstyled components mb-5 menu">
        <li class="sidebar-item">
            <a href="#"><span class="fa fa-2x fa-server"></span></a>
        </li>
        <li class="sidebar-item">
            <a href="#"><span class="fa fa-2x fa-envelope"></span></a>
        </li>
        <li class="sidebar-item">
            <a href="#"><span class="fa fa-2x fa-microphone-alt"></span></a>
        </li>
        <li class="sidebar-item">
            <a href="#"><span class="fa fa-2x fa-volume-up"></span></a>
        </li>
        <li class="sidebar-item">
            <a href="#">
                <i class="fa fa-2x fa-cog"></i>
            </a>
        </li>
    </ul>
</nav>
