<div id="server-content">
    <div id="server-header">
        Nootgaming.cz
        <br>
        <span class="badge badge-dark">
            <i class="fa fa-users"></i> <span style="color: #00c58f"> 4 online</span>
        </span>
    </div>

    <div id="rooms-list">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default" *ngFor="let room of roomList">
                <div
                        [ngStyle]="
                            {
                                'background-image': 'url(' + room.background.image + ')',
                                'background-size': room.background.width+'px '+room.background.height+'px',
                                'background-repeat': 'no-repeat',
                                'background-position': room.background.position
                            }"
                        class="panel-heading" role="tab"
                        [attr.id]="'collapse-heading-' + room.id">
                    <a role="button" class="panel-link" data-toggle="collapse" data-parent="#accordion"
                       [attr.href]="'#collapse-category-' + room.id"
                       aria-expanded="false"
                       [attr.aria-controls]="'#collapse-category-' + room.id"
                    >

                        <i [hidden]="!room.users.length" class="fa fa-sort-down"></i>
                        {{room.name}}
                    </a>
                </div>

                <div class="panel-collapse collapse" [attr.id]="'collapse-category-' + room.id" role="tabpanel"
                     [attr.aria-labelledby]="'collapse-heading-' + room.id">
                    <div class="panel-body">
                        <p class="panel panel-default" *ngFor="let user of room.users">
                            {{user.name}}
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
